

@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FUTURAPTEXTRABOLDOBLIQUE.eot');
  src: local('☺'), url('../fonts/FUTURAPTEXTRABOLDOBLIQUE.woff') format('woff'), url('../fonts/FUTURAPTEXTRABOLDOBLIQUE.ttf') format('truetype'), url('../fonts/FUTURAPTEXTRABOLDOBLIQUE.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
