.custom-container {
  width: 93%;
  max-width: 1513px;
  margin: auto;
  position: relative;
}
@import "helpers/fonts";
@import 'foundation';
@import 'helpers/media';
@import "helpers/mixin-bootstrap";
@import "helpers/modals-bootstrap";
@import 'helpers/colors';

html {
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  @include tablets {
    font-size: 14px;
  }
  @include phones {
    font-size: 12px;
  }

}


body {
  position: relative;
  margin: 0;
  height: 100vh;
  background-image: url("../img/images/main-bg.jpeg");
  background-size: cover;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

.inline-fake {
  width: 100%;
  display: inline-block;
  height: 0;
  content: "";
}

.header-section{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0 , 0, 0.3 );
}

.board-bordCover{
  //display: flex;

}

.board-header-cover{
  padding: 10px;
  background-color: rgba(0, 0 , 0, 0.1 );
  font-size: 20px;
  font-weight: 800;
  width: 100%;
  min-height: 100px;
  position: relative;

}

.state-column{
  position: relative;
  //height: ;
}

.task-state-cover{
  margin-top: 8px;
  display: flex;
  padding: 10px;
  justify-content: flex-start;
}

.state-column{
  width: 100%;
  max-width: 300px;
  margin: 10px;
  align-items: stretch;
}