.custom-container {
  width: 93%;
  max-width: 1513px;
  margin: auto;
  position: relative;
}
@import "helpers/fonts";
@import 'foundation';
@import 'helpers/media';
@import "helpers/mixin-bootstrap";
@import "helpers/modals-bootstrap";
@import 'helpers/colors';
@import "partials/modal";
@import "partials/header-timer";
@import 'partials/timer';
@import 'partials/promo';
@import 'partials/form';
@import "partials/form-hack";
@import "partials/form-button";
@import 'partials/details';
@import "partials/winners";
@import "partials/quote";
@import "partials/footer";
@import "partials/prize";
@import "partials/location";
@import "partials/join";

html {
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  @include tablets {
    font-size: 14px;
  }
  @include phones {
    font-size: 12px;
  }

}

.clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

body {
  position: relative;
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

.inline-fake {
  width: 100%;
  display: inline-block;
  height: 0;
  content: "";
}

//.custom-container {
//	//width: 93.75%;
//	//max-width: 1340px;
//	display: block;
//	margin: auto;
//	text-align: center;
//}

.footer-section {
  display: block;
  padding-top: 17px;
  padding-bottom: 18px;
  width: 100%;
  background-color: rgba(128, 128, 128, .4);
  text-align: center;
  font-family: 'Droid Serif', serif;
  font-weight: 300;
  font-size: 10px;
  color: $text-grey;
}


.mauticform-row {

  position: relative;
  @include phones {
    width: 100%;
  }
}

.platform-ios {
  .slider-button-left {
    text-align: center;
    line-height: 0;
    padding: 0;
    padding-bottom: 4px;
  }
  .slider-button-right {
    text-align: center;
    line-height: 0;
    padding: 0;
    padding-bottom: 4px;
  }
}



