.quote-section {
  padding: 142px 0 108px;
  position: relative;
  z-index: 1;
  text-align: center;
  background-color: rgba(234, 220, 215, .23);
  @include phones_landscape{
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.quote-container {
  max-width: 954px;
  text-align: center;
}

.quote-stars{
  color: white;
  font-size: 48px;
  line-height: .9;
}



.quote-text {
  margin-top: 48px;
  color: #000000;
  font-size: 28px;
  font-weight: 300;
  line-height: 38px;
  text-transform: uppercase;
  span {
    font-size: 45px;
  }
  @include tablets {
    line-height: 30px;
    margin-top: 30px;
    font-size: 18px;
  }
  @include phones_L {
    margin-top: 30px;
    font-size: 18px;
  }
}

.quote-position {
  margin-top: 56px;
  text-align: right;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  span {
    margin-left: 22px;
    display: inline-block;
    vertical-align: top;
    color: #000000;
    font-weight: 300;
    text-transform: uppercase;
  }
  @include tablets {
    margin-top: 30px;
    font-size: 18px;
  }
  @include phones_L {
    text-align: right;
    font-size: 20px;
  }
}


