.content-block_timer {
	margin-top: 10px;
	padding: 0;
	//background-color: rgba(154, 204, 214, 0.3);
	margin-bottom: 13px;
	text-align: justify;
	@include laptop_1680 {
		display: block;
		margin: 20px auto 0;
	}
	@include tablets {
		margin-top: 20px;
	}
	@include phones_S {
		width: 100%;
	}
}

.timer-comment {
	vertical-align: top;
	text-align: left;
	color: white;
	font-size: 14px;
	font-weight: 300;
	display: inline-block;
	@include laptop_1680 {
		margin-top: 0;
	}
	@include laptop_1440 {
		margin-top: 20px;
	}
}

.timer-item {
	display: inline-block;
	width: 23%;
	border-radius: 100px;
	text-align: center;
	span {
		display: block;
	}
	.number {
		margin-top: 14px;
		line-height: 1.1;
		background-color: #0a0a0a;
		color: #fffefe;
		font-family: "Open Sans", sans-serif;
		font-size: 33px;
		font-weight: 300;
		text-transform: uppercase;

		@include phones_L {
			font-size: 30px;
		}
	}
	.text {
		margin-top: 2px;
		color: #fffeff;
		font-size: 9px;
		font-weight: 300;
		text-transform: uppercase;
	}
}

.number-cover{
	background: white;

}